<h2>New Contest</h2>

<form action="/contests" method="post">
  <p>
    Name<br/>
    <input type="text" name="name"/>
  </p>

  <p>
    Contestants (comma-separated)<br/>
    <input type="text" name="contestants"/>
  </p>

  <input type="submit"/>
</form>
